@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.container {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(180deg, #0C313A 0%, #2187A0 100%);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 20px; /* Adjusted padding for mobile view */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    width: 68px;
    height: 68px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover , header ul li a.active
{
    background: #fff;
    color: #2b1055;
}

.contact-title {
    font-family: 'Rounded Mplus 1c', sans-serif;
    font-size: 96px;
    font-weight: 500;
    line-height: 143px;
    letter-spacing: 0em;
    text-align: left;
    color: hsla(19, 59%, 78%, 1);
    padding-left: 180px;
    margin-top: 180px;
}

.contact-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.contact-container .contact-info-one {
    background: hsla(192, 66%, 14%, 1);
    border-radius: 20px;
    padding: 20px;
    color: white;
    flex: 0 0 calc(50% - 20px); 
    margin-bottom: 20px; 
}

.contact-container .contact-info-two {
    flex: 0 0 calc(50% - 20px); 
    margin-bottom: 20px; 
}


.contact-container .contact-info-one a {
    text-decoration: none;
    color: white;
    padding-bottom: 20px;
}

.contact-container .contact-info-one i {
    font-size: 30px;
}


@media only screen and (max-width: 768px) {
    .contact-title {
        font-size: 48px;
        line-height: 72px;
        padding-left: 0;
        margin-top: 60px;
    }

    .contact-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px; 
        display: grid;
        grid-template-columns: 1fr; 
        gap: 20px; 
    }

    .contact-container .contact-info-one {
        width: auto;
        margin-right: 0;
    }
}