@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(180deg, #0C313A 0%, #2187A0 100%);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    width: 120px;
    height: 120px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover , header ul li a.active
{
    background: #fff;
    color: #2b1055;
}

.events-title {
    font-family: Rounded Mplus 1c;
    font-size: 12vh;
    font-weight: 700;
    line-height: 1.5;
    color: hsla(19, 59%, 78%, 1);
    margin-top: 180px;
    margin-left: 140px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-container > div {
    background: hsla(192, 66%, 14%, 1);
    color: white;
    margin-left: 80px;
    margin-right: 40px;
    padding: 20px;
    border-radius: 20px;
}

.grid-container > div img {
    width: 600px;
    height: 220px;
}

.grid-container > div h1 {
    font-size: 30px;
}

.grid-container > div p {
    text-align: justify;
}

.viewmore {
    background-color: #2187A0;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}


.footer {
    background: hsla(184, 82%, 31%, 1);
    margin-top: 300px;
}

.footer .grid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
    padding-left: 150px;
}

.footer .grid-footer .logo2 {
    width: 70px;
    height: 70px;
}

.footer .grid-footer .footer-pages {
    display: flex;
    flex-direction: row;
}

.footer .grid-footer .footer-pages a {
    margin-right: 20px;
    font-size: large;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.footer .footer-divider {
    margin-left: 150px;
    margin-right: 160px;
    margin-top: 20px;
    border: 1px solid black;
}

.footer .footer-copyright {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: large;
}

  @media (max-width: 1024px) {
    header .logo {
        width: 200px;
        height: 200px;
    }
    header ul li a {
        font-size: 40px;
    }
    .events-title {
        font-size: 8vh;
    }
    .grid-container {
        grid-template-columns: auto;
    }
    .grid-container > div {
        margin-bottom: 20px;
    }
    .grid-container > div img {
        width: 820px;
        height: 220px;
    }
    
}