@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: url('stars.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #0C313A;
}

.form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Rounded Mplus 1c;
    font-size: 10vh;
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 1.5;
    color: hsla(19, 59%, 78%, 1);
    margin-top: 60px;
}

form {
    margin-left: 460px;
}

form label {
    color: white;
    font-size: 25px;
}

form input {
    background-color: #2187A0;
    width: 600px;
    height: 60px;
    border-color: #2187A0;
    border-radius: 15px;
}

form input::placeholder {
    color:white;
    font-weight: 400;
    padding-left: 20px;
    font-size: 15px;
}

select {
    background-color: #2187A0;
    width: 600px;
    height: 60px;
    border-color: #2187A0;
    border-radius: 15px;
    color: white; 
}

option {
    color: white;
    font-weight: 400;
    padding-left: 20px;
    font-size: 15px;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2187A0;
    margin-right: 460px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    font-weight: 500;
}

@media (max-width: 1024px) {
    .form-title {
        font-size: 4vh;
    }

    form label {
        margin-left: -400px;
        font-size: 20px;
    }
    form input {
        margin-left: -400px;
        width: 300px;
    }
    select {
        margin-left: -400px;
        width: 300px;
    }
    .register {
        margin-left: -350px;
        width: 200px;
    }
}